.cardEvaluations,
.cardScore,
.cardFristPosition {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 5px 8px black;

}

.cardEvaluations {
    background: #131c46;
}

.cardScore {
    background: #1e3f44;
}

.cardFristPosition {
    background: #113349;
}

#container {
    width: 50%;
}

#history{
    width: 50%;
}

.position{
    width: 40px;
}
