details{
    transition: 0.6s linear;
    
    summary{
        font-size: x-large;
    }
    li{
        padding: 8px;
    }
}

.treinamento {
    height: 1000px;
    overflow: scroll;
}

.ckeditor {
    width: 100%;
    min-height: 300px;
    border: 1px solid #ccc;
}