.fillScore {
    margin: 40px 190px 40px 40px;

    #score {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        right: 350px;
        top: 200px;
        border: 20px solid;
        border-color: transparent transparent red red; /* Cores da borda */
        transform: rotate(-45deg); /* Rotaciona o círculo */
        position: absolute; /* Posiciona o elemento */
        animation: fillCircle 2s linear forwards; /* Animação do preenchimento */
        display: flex; /* Utiliza flexbox para centralizar a bolinha */
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
    }
    
    #score::after {
        content: "";
        height: 10px; /* Tamanho da bolinha */
        width: 10px; /* Tamanho da bolinha */
        border-radius: 50%; /* Faz a bolinha ser circular */
        background-color: #000; /* Cor da bolinha */
        position: absolute; /* Posiciona a bolinha */
    }

    .score {
        position: absolute;
        right: 415px;
        top: 308px;
    }
    #boxDown {
        height: 100px;
        width: 200px;
        right: 350px;
        top: 300px;
        border-radius: 0 0 80px 80px;
        background: rgb(255, 255, 255);
        position: absolute;
    }

    #indicator {
        height: 3px;
        width: 200px;
        top: 296px;
        right: 350px;
        position: absolute;
        animation: indicator 2s linear forwards;
    }

    #indicator::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        /* Metade do indicador será preto */
        height: 100%;
        background-color: black;
    }

    #indicator::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        /* Metade do indicador será vermelho */
        height: 100%;
        background-color: transparent;
    }

}

@keyframes fillCircle {
    from {
        transform: rotate(-45deg);
        border-color: transparent transparent red red;
    }

    to {
        transform: rotate(calc(-60deg + (14deg + var(--fill) * 180deg)));
        /* 180deg por unidade de fill */
        border-color: black black yellowgreen yellowgreen;
    }
}

@keyframes indicator {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(calc((var(--fill) * 180deg)));
    }
}