.fillScore {
    margin: 40px 190px 40px 40px;

    #score {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        right: 350px;
        top: 200px;
        border: 20px solid;
        border-color: transparent transparent red red;
        transform: rotate(-45deg); 
        position: absolute; 
        animation: fillCircle 2s linear forwards;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    
    #score::after {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #000;
        position: absolute;
    }

    .score {
        position: absolute;
        right: 415px;
        top: 308px;
    }
    #boxDown {
        height: 100px;
        width: 200px;
        right: 350px;
        top: 300px;
        border-radius: 0 0 80px 80px;
        background: rgb(255, 255, 255);
        position: absolute;
    }

    #indicator {
        height: 3px;
        width: 200px;
        top: 296px;
        right: 350px;
        position: absolute;
        animation: indicator 2s linear forwards;
    }

    #indicator::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: black;
    }

    #indicator::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: transparent;
    }

}

@keyframes fillCircle {
    from {
        transform: rotate(-45deg);
        border-color: transparent transparent red red;
    }

    to {
        transform: rotate(calc(-60deg + (14deg + var(--fill) * 180deg)));
        border-color: black black yellowgreen yellowgreen;
    }
}

@keyframes indicator {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(calc((var(--fill) * 180deg)));
    }
}